#SOs
Thumbs.db
*~
._*
.DS_Store

#IDEs
nbproject
/.idea



/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.gitattributes

/app/code/Magento
/app/design/*/Magento
/app/etc
/app/i18n/magento
/app/*.*

/bin

/dev/shell

/dev/tools/Magento
/dev/tools/grunt
/dev/tools/*.*

/dev/*.*

/lib

/phpserver

/pub

/setup

/var

/vendor

/*.*

!/composer.json
!/composer.lock
!/README.md
!/README.img
!/.travis.yml
!/.travis/
!/.gitignore
